{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>About This Todo App</h2>
    <p>
        This is a simple Todo List application built using Flask and SQLAlchemy. 
        It allows users to add, update, and delete tasks while keeping track of when they were created.
    </p>
    <p>
        This project demonstrates the integration of Flask with a database and Bootstrap for styling.
    </p>
</div>

{% endblock body %}
